/* fade */
.fade-enter-from, .fade-leave-to {
    opacity: 0;
}

.fade-enter-to, fade-leave-from {
    opacity: 1;
}

.fade-enter-active {
    transition: opacity 1s;
}

.fade-leave-active {
    transition: opacity 0.5s;
}

/* slide */
.slide-enter-from {
    opacity: 0;
    transform: translateX(-150px);
}

.slide-leave-to {
    opacity: 0;
    transform: translateX(150px);
}

.slide-enter-to, .slide-leave-from {
    opacity: 1;
    transform: translateX(0px);
}

.slide-enter-active, .slide-leave-active {
    transition: all 1s;
}